In [9]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'item_category':['x','x','x','y','y','y','z','z','z'],
                 'item_name':['cake','choclate','cookie','cake','choclate','cookie','cake','choclate','cookie'],
                 'item_exp':[100,200,300,400,500,600,700,800,900]})
print(df)
df1=df.groupby('item_category')['item_exp'].sum()
print(df1)

  item_category item_name  item_exp
0             x      cake       100
1             x  choclate       200
2             x    cookie       300
3             y      cake       400
4             y  choclate       500
5             y    cookie       600
6             z      cake       700
7             z  choclate       800
8             z    cookie       900
item_category
x     600
y    1500
z    2400
Name: item_exp, dtype: int64

In [1]:
import pandas as pd
import numpy as np
obj1=pd.Series([50,34,67,9,54])
print(obj1.size)

5

In [2]:
obj2=pd.Series([6,87,65,45,43,23])
print(obj2.index)

RangeIndex(start=0, stop=6, step=1)

In [3]:
import pandas as pd1
data1={'name':['p1','p2'],'age':[17,15]}
df1=pd1.DataFrame(data1)
print(df1)#using dictionary of list

  name  age
0   p1   17
1   p2   15

In [4]:
import pandas as pd1
data1={'name':['p1','p2'],'age':[17,15]}
df1=pd1.DataFrame(data1)
print(df1)
df2=pd1.DataFrame(data1,index=['i1','i2'])
print(df2)#custom index

  name  age
0   p1   17
1   p2   15
   name  age
i1   p1   17
i2   p2   15

In [6]:
import pandas as pd1
data1=[{'x':1,'y':2},{'x':5,'y':4,'z':5}]
df1=pd1.DataFrame(data1,index=['one','two'])
print(df1)#using list of dictionary
df1.loc['three']=df1.loc['one']
print(df1)
print(df1[:2])#adding row

     x  y    z
one  1  2  NaN
two  5  4  5.0
         x    y    z
one    1.0  2.0  NaN
two    5.0  4.0  5.0
three  1.0  2.0  NaN
       x    y    z
one  1.0  2.0  NaN
two  5.0  4.0  5.0

In [7]:
import pandas as pd1
data1=[{'x':1,'y':2},{'x':5,'y':4,'z':5}]
df1=pd1.DataFrame(data1,index=['one','two'])
df1.loc[:,'w']=df1.loc[:,'x']
print(df1)
print(df1[:3])#adding column

     x  y    z  w
one  1  2  NaN  1
two  5  4  5.0  5
     x  y    z  w
one  1  2  NaN  1
two  5  4  5.0  5

In [19]:
n=0
for n in range(1,11):
    data1=print('2','x',n,'=',2*n) 
df1=pd1.DataFrame(data1)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [12]:
import pandas as pd1
data1=[{'x':1,'y':2,'z':7},{'x':5,'y':4,'z':5}]
df1=pd1.DataFrame(data1,index=['one','two'])
df1.loc['w',:]=df1.loc[:,'x']
print(df1)
print(df1[:3])#adding column

       x    y    z
one  1.0  2.0  7.0
two  5.0  4.0  5.0
w    NaN  NaN  NaN
       x    y    z
one  1.0  2.0  7.0
two  5.0  4.0  5.0
w    NaN  NaN  NaN

In [15]:
import pandas as pd1
data1=[{'x':1,'y':2},{'x':5,'y':4,'z':5}]
df1=pd1.DataFrame(data1,index=['one','two'])
df1.loc[:,'w']=df1['x']+df1['y']
print(df1)
print(df1[:3])#adding column

     x  y    z  w
one  1  2  NaN  3
two  5  4  5.0  9
     x  y    z  w
one  1  2  NaN  3
two  5  4  5.0  9

In [21]:
import pandas as pd1
data2=[{'x':1,'y':2,'z':4},{'x':5,'y':4,'z':5}]
df2=pd1.DataFrame(data2,index=['one','two'])
df2.loc['w']=df2['x']+df2['y']
print(df2)
print(df2[:3])#adding column

       x    y    z
one  1.0  2.0  4.0
two  5.0  4.0  5.0
5    NaN  NaN  NaN
       x    y    z
one  1.0  2.0  4.0
two  5.0  4.0  5.0
5    NaN  NaN  NaN

In [5]:
 import pandas as pd1
data2=[{'x':1,'y':2,'z':4},{'x':5,'y':4,'z':5},{'x':7,'y':10,'z':17}]
df2=pd1.DataFrame(data2,index=['one','two','three'])
df2.loc[:,'w']=df2['x']+df2['y']
#df2.loc[0,'z']=19
#df2.iloc[0,2]=25
df2.iloc[0,2]=df2.iloc[0,2]/2
print(df2)
#print(df2[:3])#adding column

       x   y     z   w
one    1   2   2.0   3
two    5   4   5.0   9
three  7  10  17.0  17

In [12]:
#iteration with rows
import pandas as pd
import numpy as np
n=20
df=pd.DataFrame({
    'a':pd.date_range(start='2016-01-01',periods=n,freq='d'),
    'b':np.linspace(0,stop=n-1,num=n),
    'c':np.random.rand(n),
    'd':np.random.choice(['low','medium','high'],n).tolist(),
    'e':np.random.normal(100,10,size=(n)).tolist(),
})
for col in df:
    print(col)
print(df)
for index,row in df.iterrows():
    row['a']=10
print(df)

a
b
c
d
e
            a     b         c       d           e
0  2016-01-01   0.0  0.521273     low   99.524296
1  2016-01-02   1.0  0.179056  medium  109.628400
2  2016-01-03   2.0  0.738386    high   94.679412
3  2016-01-04   3.0  0.937327  medium   92.541403
4  2016-01-05   4.0  0.840032  medium   80.042663
5  2016-01-06   5.0  0.532604    high   97.795323
6  2016-01-07   6.0  0.027351     low  113.792557
7  2016-01-08   7.0  0.483706     low   95.192458
8  2016-01-09   8.0  0.714183    high   86.749865
9  2016-01-10   9.0  0.712777     low  104.286595
10 2016-01-11  10.0  0.259358    high   96.424523
11 2016-01-12  11.0  0.823887  medium  101.049133
12 2016-01-13  12.0  0.482794     low   99.230787
13 2016-01-14  13.0  0.180472    high   98.544148
14 2016-01-15  14.0  0.770289    high  100.271152
15 2016-01-16  15.0  0.447806     low  109.890858
16 2016-01-17  16.0  0.706185  medium  110.768288
17 2016-01-18  17.0  0.021306  medium   98.312448
18 2016-01-19  18.0  0.741626     low  105.871579
19 2016-01-20  19.0  0.657503    high   84.537598
            a     b         c       d           e
0  2016-01-01   0.0  0.521273     low   99.524296
1  2016-01-02   1.0  0.179056  medium  109.628400
2  2016-01-03   2.0  0.738386    high   94.679412
3  2016-01-04   3.0  0.937327  medium   92.541403
4  2016-01-05   4.0  0.840032  medium   80.042663
5  2016-01-06   5.0  0.532604    high   97.795323
6  2016-01-07   6.0  0.027351     low  113.792557
7  2016-01-08   7.0  0.483706     low   95.192458
8  2016-01-09   8.0  0.714183    high   86.749865
9  2016-01-10   9.0  0.712777     low  104.286595
10 2016-01-11  10.0  0.259358    high   96.424523
11 2016-01-12  11.0  0.823887  medium  101.049133
12 2016-01-13  12.0  0.482794     low   99.230787
13 2016-01-14  13.0  0.180472    high   98.544148
14 2016-01-15  14.0  0.770289    high  100.271152
15 2016-01-16  15.0  0.447806     low  109.890858
16 2016-01-17  16.0  0.706185  medium  110.768288
17 2016-01-18  17.0  0.021306  medium   98.312448
18 2016-01-19  18.0  0.741626     low  105.871579
19 2016-01-20  19.0  0.657503    high   84.537598

In [ ]:
import pandas as pd
import numpy as np
n=int(input("Enter the number\n"))
df=pd.DataFrame({
    's.no':np.arange(1,11),
    'n':[n]*10,
    'x':['x']*10,
    'i':[i for i in range(1,11)],
    'o':[n*i for i in range(1,11)]})

print(df)
df.loc[:'nxi']=df['n']*df['i']
print(df)

In [15]:
import pandas as pd
import numpy as np
n=int(input("Enter the number\n"))
df=pd.DataFrame({
    's.no':np.arange(1,11),
    'n':[n]*10,
    'x':['x']*10,
    'i':[i for i in range(1,11)],
    'o':[n*i for i in range(1,11)]})

print(df)
#df.loc[:'nxi']=df['n']*df['i']
print(df)

Enter the number
25
   s.no   n  x   i    o
0     1  25  x   1   25
1     2  25  x   2   50
2     3  25  x   3   75
3     4  25  x   4  100
4     5  25  x   5  125
5     6  25  x   6  150
6     7  25  x   7  175
7     8  25  x   8  200
8     9  25  x   9  225
9    10  25  x  10  250
   s.no   n  x   i    o
0     1  25  x   1   25
1     2  25  x   2   50
2     3  25  x   3   75
3     4  25  x   4  100
4     5  25  x   5  125
5     6  25  x   6  150
6     7  25  x   7  175
7     8  25  x   8  200
8     9  25  x   9  225
9    10  25  x  10  250

In [7]:
import pandas as pd
import numpy as np
df1=pd.DataFrame({
    
    'age':[18,21,20,23,19,27,29],
    'name':['ramya','varun','nikhila','manab','aakshu','bhairav','agni'],
    'rating':[3.7,3.2,3.9,4.2,4.0,4.7,3.8],
})
print(df1)
mean=sum(df1['rating']/7)
print(mean)
#np.median(df1)

   age     name  rating
0   18    ramya     3.7
1   21    varun     3.2
2   20  nikhila     3.9
3   23    manab     4.2
4   19   aakshu     4.0
5   27  bhairav     4.7
6   29     agni     3.8
3.928571428571429